@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
:root {
  --background: 0 0% 98.82%;
  --foreground: 0 0% 9.02%;
  --card: 0 0% 98.82%;
  --card-foreground: 0 0% 9.02%;
  --popover: 0 0% 98.82%;
  --popover-foreground: 0 0% 32.16%;
  --primary: 185.87 59.83% 46.86%;
  --primary-foreground: 0 0% 100%;
  --accent: 192 90% 95%;
  --accent-foreground: 187 70% 25%;
  --muted: 210 16% 93%;
  --muted-foreground: 210 10% 30%;
  --secondary: 185 50% 85%;
  --secondary-foreground: 185 80% 20%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 87.45%;
  --input: 0 0% 96.47%;
  --ring: 151.33 66.86% 66.86%;
  --chart-1: 151.33 66.86% 66.86%;
  --chart-2: 217.22 91.22% 59.8%;
  --chart-3: 258.31 89.53% 66.27%;
  --chart-4: 37.69 92.13% 50.2%;
  --chart-5: 160.12 84.08% 39.41%;
  --sidebar: 0 0% 98.82%;
  --sidebar-foreground: 0 0% 43.92%;
  --sidebar-primary: 151.33 66.86% 66.86%;
  --sidebar-primary-foreground: 153.33 13.04% 13.53%;
  --sidebar-accent: 0 0% 92.94%;
  --sidebar-accent-foreground: 0 0% 12.55%;
  --sidebar-border: 0 0% 87.45%;
  --sidebar-ring: 151.33 66.86% 66.86%;
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
  --tracking-normal: 0.025em;
}

.dark {
  --background: 0 0% 7.06%;
  --foreground: 214.29 31.82% 91.37%;
  --card: 0 0% 9.02%;
  --card-foreground: 214.29 31.82% 91.37%;
  --popover: 0 0% 14.12%;
  --popover-foreground: 0 0% 66.27%;
  --primary: 185.87 59.83% 46.86%;
  --primary-foreground: 0 0% 100%;
  --accent: 190 60% 20%;
  --accent-foreground: 190 40% 90%;
  --muted: 210 10% 20%;
  --muted-foreground: 210 20% 80%;
  --secondary: 185 30% 25%;
  --secondary-foreground: 185 40% 90%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 16.08%;
  --input: 0 0% 14.12%;
  --ring: 141.89 69.16% 58.04%;
  --chart-1: 141.89 69.16% 58.04%;
  --chart-2: 213.12 93.9% 67.84%;
  --chart-3: 255.14 91.74% 76.27%;
  --chart-4: 43.26 96.41% 56.27%;
  --chart-5: 172.46 66.01% 50.39%;
  --sidebar: 0 0% 7.06%;
  --sidebar-foreground: 0 0% 53.73%;
  --sidebar-primary: 154.9 100% 19.22%;
  --sidebar-primary-foreground: 152.73 19.3% 88.82%;
  --sidebar-accent: 0 0% 19.22%;
  --sidebar-accent-foreground: 0 0% 98.04%;
  --sidebar-border: 0 0% 16.08%;
  --sidebar-ring: 141.89 69.16% 58.04%;
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl:
    0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
}

body {
  letter-spacing: var(--tracking-normal);
}

/* global.css 또는 컴포넌트 CSS에 추가 */
.toastui-editor-ww-preview .placeholder,
.toastui-editor-md-preview .placeholder {
  display: none !important;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
